<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrkhanMammadali</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div style="margin:25px; padding:15px">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OrkhanMammadali</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Profil" asp-action="Index">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Education" asp-action="Index">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Experience" asp-action="Index">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Skill" asp-action="Index">Skill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Knowledge" asp-action="Index">Knowledge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Project" asp-action="Index">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="Sosial" asp-action="Index">Sosial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-dark" asp-area="" asp-controller="CvDocument" asp-action="Index">CvDocument</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Main</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="margin:25px; padding:15px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - OrkhanMammadali - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
